.background-image {
  background-image: url(/images/mountain-index-wallpaper.jpg);
}

* {
  color: white;
}

a {
  color: white;
}

.content {
  margin: auto;
}

.hero {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  margin: auto;
}

a:hover {
  color: rgb(202, 202, 255) !important;
}

small {
  font-weight: bold;
}

.hero-left {
  margin-right: 6rem;
}

img {
  width: 500px;
  filter: drop-shadow(6px 6px 5px rgba(0, 0, 0, 0.5));
}

h4 {
  color: white;
}

div {
  color: rgba(255, 255, 255, 0.8);
}
