.background-image {
  background-image: url(/images/mountain-index-wallpaper.jpg);
}

* {
  color: white;
}

a {
  color: white;
}

.content {
  margin: auto;
}

.hero {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  margin: auto;
}

a:hover {
  color: rgb(202, 202, 255) !important;
}

small {
  font-weight: bold;
}

.hero-left {
  margin-right: 6rem;
}

img {
  width: 500px;
}

h3 {
  color: white;
}

div {
  color: rgba(255, 255, 255, 0.8);
}
.color-transition {
  color: white;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.color-transition:hover {
  color: lightskyblue;
  cursor: pointer;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

a:hover {
  text-decoration: none;
}

.card {
  background-color: rgba(138, 130, 119, 0.2);
}

div>h2 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  filter: drop-shadow(2px 2px 2px black);
}

