.background-image {
  background-image: url(/images/mountains-background.webp);
}

.card {
  background-color: rgba(210, 180, 140, 0.2);
}

.card-title {
  text-align: center;
  font-size: 4em;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.4));
  -webkit-filter: drop-shadow(4px);
  background-image: linear-gradient(135deg, lightblue, pink, #faeaa2);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: transparent;
  -webkit-text-fill-color: transparent;
  margin-bottom: .4em;
}

.card-title-sub {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: -.6em;
  text-align: center;
  font-size: 5em;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.4));
  -webkit-filter: drop-shadow(4px);
  background-image: linear-gradient(135deg, lightblue, pink, #faeaa2);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: transparent;
  -webkit-text-fill-color: transparent;
}
