/* Classes */
.background-image {
  background-image: url(/images/item1\ carousel.jpg);
}

.radio-btn-filter {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.radio-btn-group {
  display: flex;
  flex-direction: row;
}

/* IDs */
#locationSelector {
  background-color: rgba(30, 30, 30, 0.6);
  backdrop-filter: blur(6px);
}

.content {
  display: flex;
  justify-content: center !important;
  width: 100%;
}

.card {
  width: 100%;
}