/* Elements */

* {
  color: white;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

header {
  z-index: 99;
  display: flex;
  margin-top: 0 !important;
  margin-bottom: 8rem !important;
  padding-left: 5rem !important;
  background: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  width: 100% !important;
  filter: drop-shadow(4px 2px 4px rgba(0, 0, 0, 0.1));
}

nav {
  display: flex;
  flex-direction: row;
}

ul {
  display: flex;
  justify-content: space-between;
}

td,
th {
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0px 100px;
  align-content: space-between;
  width: 70% !important;
}

header,
footer {
  flex-direction: row;
  margin: auto;
  padding: 0.5rem !important;
}

a {
  color: white;
}

a:hover {
  color: rgb(202, 202, 255) !important;
}

small {
  font-weight: bold;
}

div {
  color: rgba(255, 255, 255, 0.8);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end !important;
  margin-bottom: 0.5rem;
}

/* Classes */
.github-logo {
  height: 40px;
  width: auto;
}

.footer-left {
  font-size: 1.3rem;
  font-weight: bold;
}

.footer-left a {
  color: white;
}

.footer-left a:hover {
  color: gray;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}

.nav-left {
  display: flex;
  flex-direction: row;
}

.logo {
  width: 160px;
  margin-right: -1.2rem;
}

.logo img {
  max-width: 70%;
  height: auto;
  filter: drop-shadow(6px 6px 5px rgba(0, 0, 0, 0.3));
}

.title {
  display: flex;
  font-size: 1.4rem;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.nav-links a {
  font-size: 1.2rem;
  font-weight: bold;
}

.card {
  backdrop-filter: blur(6px);
  background-color: rgba(20, 40, 150, 0.3);
  height: 100%;
  width: 100%;
  margin: 2rem auto;
}

.header {
  position: sticky;
  top: 0;
}

.content {
  padding: 16px;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.6);
  filter: blur(6px);
  z-index: -1;
  background-size: cover;
  background-position: center;
}

.cyan-gradient {
  background-image: linear-gradient(135deg, lightblue, pink, #faeaa2);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: transparent;
  -webkit-text-fill-color: transparent;
}

.shadow {
  filter: drop-shadow(2px 2px 2px black);
}

main img {
  filter: drop-shadow(5px 5px 10px rgba(10, 10, 10, 0.6));
}

select {
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

/* ANIMATIONS */

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated-slower {
  animation-duration: 2s;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: both;
}

.animated-slowest {
  animation-duration: 3s;
  animation-fill-mode: both;
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: both;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}
@keyframes fadeOutUp {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, -40px, 0);
    opacity: 0;
  }
}

@-webkit-keyframes fadeOutUp {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, -40px, 0);
    opacity: 0;
  }
}
.animatedFadeOutUp {
  opacity: 1;
}

.fadeOutUp {
  opacity: 1;
  animation-name: fadeOutUp;
  -webkit-animation-name: fadeOutUp;
}
